---
accessLog:
  fields:
    names:
      StartUTC: drop
  filters:
    statusCodes:
      - "400-499"

api:
  insecure: true

# Add Cloudflare as DNS Cert Resolver for all services. Also enable TLS.
certificatesResolvers:
  dns-cloudflare:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /config/acme.json
      dnsChallenge:
        propagation:
          delayBeforeChecks: "90" # To delay DNS check and reduce Let's Encrypt hit rate  
        provider: cloudflare
        resolvers:
          - "1.0.0.1:53"
          - "1.1.1.1:53"

entryPoints:
  http:
    address: :80
  https:
    address: :443
    forwardedHeaders:
      trustedIPs:
        # Allow these IPs to set the X-Forwarded-* headers
        # Cloudflare IPs: https://www.cloudflare.com/ips/
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
    http:
      tls:
        certResolver: dns-cloudflare
        domains:
          - main: "{{ traefik_domain }}"
            sans:
              - "*.{{ traefik_domain }}"
  traefik:
    address: :8080

global:
  checkNewVersion: true
  sendAnonymousUsage: true

log:
  level: INFO # (Default: ERROR). Valid values: DEBUG, INFO, WARN, ERROR, FATAL, PANIC

providers:
  docker:
    exposedByDefault: false
    endpoint:  "unix:///var/run/docker.sock"
    network: "{{ traefik_network }}"
  file:
    directory: /config/rules # Directory for dynamic configurations
    watch:  true
