---
language: fr
useEqualHeights: true

layout:
  Services:
    tab: Montréal
    style: row
    columns: 4
  Médias:
    tab: Montréal
    style: row
    columns: 4
  Musique:
    tab: Montréal
    style: row
    columns: 4
  Gestion des médias:
    tab: Montréal
    style: row
    columns: 4
  Gestion des téléchargements:
    tab: Montréal
    style: row
    columns: 4
  Systèmes:
    tab: Montréal
    style: row
    columns: 4
  Monitoring:
    tab: Montréal
    style: row
    columns: 4
  Infrastructure:
    tab: Montréal
    style: row
    columns: 4
  Gestion des utilisateurs:
    tab: Montréal
    style: row
    columns: 4
  Infrastructure Val-Morin:
    tab: Val-Morin
    style: row
    columns: 4
